*{
    margin: 0;
    padding: 0;
}

.contenedor{
    margin: 0 5%;
}

.cabecera{
    background-color: midnightblue;
    width: 100%;
    display: flex;
}

.empresa, .navbar{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0.3rem;
}

.empresa{
    justify-content: left;
}

.navbar{
    justify-content: right;
}

.empresa .logo{
    width: 3%;
}

#logo{
    width: 100%;
}

p{
    margin: 1rem;
}
.main{
    height: 100%;
    margin: 1rem;
    margin-top: 4rem;
    display: flex;
    padding: 0 2rem;
}

.presentacion, .inicio-sesion{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar div{
    width: 15%;
    margin-left: 1rem;
    border-bottom: 0.1rem solid white;
}

.presentacion h1{
    font-family: 'Playfair Display', serif;
}

button{
    background-color: navy;
    color: white;
}