*{
    margin: 0;
    padding: 0;
}

body{
    background-color: silver;
}

.cabecera{
    background-color: midnightblue;
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

.empresa, .navbar{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0.3rem;
}

.empresa{
    justify-content: left;
}

.navbar{
    justify-content: right;
}

.empresa .logo{
    width: 3%;
}

#logo{
    width: 100%;
}

.main{
    margin: 1rem;
    display: flex;
}

.presentacion{
    width: 50%;
}
.inicio-sesion{
    width: 50%;
    display: flex;
    justify-content: center;
}

.navbar div{
    width: 15%;
    margin-left: 1rem;
    border-bottom: 0.1rem solid white;
}

.presentacion h1{
    font-family: 'Playfair Display', serif;
}

button{
    background-color: navy;
    color: white;
}