<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="icon" href="/src/main/resources/static/img/logo.png">
    <title>Emprender</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/main/resources/static/css/style.css'>
</head>

<body>
    <div class="contenedor">
        <header class="cabecera">
            <div class="empresa">
                <div class="logo">
                    <!-- imagen del logo -->
                    <img id="logo" src="/src/main/resources/static/img/logo.png" alt="Emprender" title="Emprender.com">
                </div>
                <div>
                    <a class="logo" href="index.html" title="Emprender">Emprender</a>
                </div>
            </div>
            <div class="navbar">
                <div>
                    <a class="register-option" href="inicioSesion.html" title="inicio-sesion">Iniciar sesion</a>
                </div>
                <div>
                    <a class="register-option" href="registroCliente.html" title="registrarse">Registarse</a>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="presentacion">
                <h1>El desafio de emprender</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, tempora eveniet sit corporis veritatis expedita omnis voluptas eos dolore quam ea nam aut quis, necessitatibus iste tenetur! Impedit, ullam voluptatibus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quo pariatur molestiae totam fuga autem deserunt dolore velit sequi odit voluptates, quas accusantium, quidem nemo minus, porro aperiam. Natus, recusandae?</p>
            </div>
            <div class="inicio-sesion">
                <div>
                    <p>Emprender</p>
                    <h1>Iniciar sesion</h1>
                </div>
                <form action="" method="post">
                    <div>
                        <label>Nombre de usuario</label><br>
                        <input type="text" name="nombreUsuario"><br>
                        <label>Contraseña</label><br>
                        <input type="password" name="contraseña"><br>
                        <button><a href="principal.html">Iniciar sesion</a></button>
                    </div>
                    <div>
                        <div>
                            <p>Sos nuevo?</p>
                            <button><a href="registroCliente.html">Registrate</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>

</html>