<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="icon" href="/src/main/resources/static/img/logo.png">
    <title>Emprender</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/main/resources/static/css/style.css'>
</head>

<body>
    <div class="contenedor">
        <header class="cabecera">
            <div class="empresa">
                <div class="logo">
                    <!-- imagen del logo -->
                    <img id="logo" src="/src/main/resources/static/img/logo.png" alt="Emprender" title="Emprender.com">
                </div>
                <div>
                    <a class="logo" href="index.html" title="Emprender">Emprender</a>
                </div>
            </div>
            <div class="navbar">
                <div>
                    <a class="register-option" href="inicioSesion.html" title="inicio-sesion">Iniciar sesion</a>
                </div>
                <div>
                    <a class="register-option" href="registroCliente.html" title="registrarse">Registarse</a>
                </div>
            </div>
        </header>
        <main>
            <div>
                <h1>El desafio de emprender</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quo pariatur molestiae totam fuga autem deserunt dolore velit sequi odit voluptates, quas accusantium, quidem nemo minus, porro aperiam. Natus, recusandae?</p>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>

</html>