<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="icon" href="/src/main/resources/static/img/logo.png">
    <title>Inicio de sesion</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/main/resources/static/css/style.css'>
</head>

<body>
    <div class="contenedor">
        <header class="cabecera">
            <div class="empresa">
                <div class="logo">
                    <!-- imagen del logo -->
                    <img id="logo" src="/src/main/resources/static/img/logo.png" alt="Emprender" title="Emprender.com">
                </div>
                <div>
                    <a class="logo" href="index.html" title="Emprender">Emprender</a>
                </div>
            </div>
        </header>
        <main>
            <div>
                <div>
                    <p>Emprender</p>
                    <h1>Iniciar sesion</h1>
                </div>
                <form th:action="@{algo de iniciar sesion}" method="post" th:object="${usuario}">
                    <div>
                        <label>Nombre de usuario</label><br>
                        <input type="text" th:field="*{nombre}"><br>
                        <label>Contraseña</label><br>
                        <input type="password" th:field="*{password}"><br>
                        <button><a href="principal.html">Iniciar sesion</a></button>
                    </div>
                    <div>
                        <div>
                            <p>Sos nuevo?</p>
                            <button><a href="registroCliente.html">Registrate</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer>

        </footer>
</body>

</html>