<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="icon" href="/src/main/resources/static/img/logo.png">
    <title>Registarse como cliente</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/main/resources/static/css/style.css'>
</head>

<body>
    <div class="contenedor">
        <header class="cabecera">
            <div class="empresa">
                <div class="logo">
                    <!-- imagen del logo -->
                    <img id="logo" src="/src/main/resources/static/img/logo.png" alt="Emprender" title="Emprender.com">
                </div>
                <div>
                    <a class="logo" href="index.html" title="Emprender">Emprender</a>
                </div>
            </div>
        </header>
        <main>
            <div>
                <div>
                    <p>Emprender</p>
                    <h1>Registrarse como Emprendedor</h1>
                </div>
                <form action="" method="post">
                    <div>
                        <label>Nombre y apelido</label><br>
                        <input type="text"  th:field="*{nombre}" autocomplete="off"><br>
                        <label>Nombre de Usuario</label><br>
                        <input type="text"  th:field="*{nombreUsuario}" autocomplete="off"><br>
                        <label>Mail</label><br>
                        <input type="email"  th:field="*{mail}" autocomplete="off"><br>
                        <label>Telefono</label><br>
                        <input type="text"  th:field="*{telefono}" autocomplete="off"><br>
                        <label>Direccion</label><br>
                        <input type="text" th:field="*{direccion}" autocomplete="off"><br>
                        <label>Contraseña</label><br>
                        <input type="password"  th:field="*{password}" autocomplete="off"><br>
                    </div>
                    <div>
                        <div>
                            <button><a href="registroCliente.html">Soy cliente</a></button>
                        </div>
                        <div>
                            <button type="reset">Borrar</button>
                            <button type="submit">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer>

        </footer>
</body>

</html>

